* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(228, 238, 250);
}

#app-name {
    text-align: center;
    margin-top: 20px;
}



form {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 500px;
    margin: 20px auto 0 auto;
    gap: 10px;
    
} 

#add-job-form {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 3px  gray;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jobs-box {
    width: 70%;
    height: fit-content;
    margin: auto;
    border-radius: 0px 5px 5px 5px;
    box-shadow: 0px 8px 3px  gray;
    background-color: white;
    padding-bottom: 20px;
}

#jobs-section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.job-component {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    background-color: rgb(87, 165, 221);
    width: 200px;
    border-radius: 5px;
    box-shadow: 0px 8px 3px  gray;
    
    
}

.jobs-container {
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

.tab {
    padding: 5px;
    width: 100px;
    border-radius: 5px 5px 0 0;
    position: relative;
    height: 20px;
    top: -30px;
    background-color: white;
    box-shadow: 0px 0px 3px  gray;
    z-index: -1;
}


#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-form-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 200px;
    margin: auto;
    width: 40%;
    max-width: 500px;
    height: 275px;
    padding: 20px;
}

#edit-form {
    width:100%
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px;
    width: 20px;
    height: 20px;
}

.btn {
    
    cursor: pointer;
    outline: 0;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 3px 12px;
    font-size: 14px;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    

}
.btn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

.edit-btn{
    font-size: 12px;
}

.transparent {
    opacity: 0.3;
}

.drag-over {
    border: solid 2px red;
}