* {
    padding: 0;
    margin: 0;
}

#app-name {
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto 0 auto;
    gap: 10px;
} 
.input-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jobs-box {
    width: 70%;
    height: 300px;
    margin: auto;
    border: solid;
}

#jobs-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.job-component {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    border: solid;
    width: 200px;
}

.jobs-container {
    display:flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.no-scrolling {
    overflow: hidden;
}


#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#edit-form-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 200px;
    margin: auto;
    width: 40%;
    height: 275px;
    padding: 20px;
}

#edit-form {
    width:100%
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 2px;
    width: 20px;
    height: 20px;
}
