* {
    padding: 0;
    margin: 0;
}

#app-name {
    text-align: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto 0 auto;
}
