* {
    padding: 0;
    margin: 0;
}

#app-name {
    text-align: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 20px auto 0 auto;
    gap: 10px;
} 
.input-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jobs-box {
    width: 70%;
    height: 600px;
    margin: auto;
    border: solid;
}

#jobs-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


